.button-base {
  color: var(--color-text-on-primary);
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;
  box-shadow: var(--elevation-1);
  transition: box-shadow 0.2s, transform 0.1s;
}

.button-base:hover {
  background-color: var(--color-primary-highlight);
}

.button-base:active {
  transform: translateY(-3px);
  box-shadow: var(--elevation-2);
}

.button-base:focus {
  outline-offset: 3px;
}
